{% extends 'base.html' %}
{% block head %}
{{ super() }}
<style type="text/css">
 a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: blue; text-decoration: underline;}
</style>
{% endblock %}

{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0 text-dark"> About KBCC </h4>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
  <section class="content">
    <div class="container">
      <div class="row">
        <!-- 각 팀원 소개 페이지 -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header"> 
              <h3 class="card-title"><span style="float-left;"><img src="../static/images/sk.png" width=40vh; border-radius: 70%;  overflow: hidden;></span> <strong>&nbsp&nbsp SK </strong> </h3>
              <div class="card-tools">
              </div>
            </div>

            <div class="card-body p-4">
              <div class="table-responsive">
                <p class="text-muted text-l" style="text-align:left;">
                  Homepage
                  <span style="float:right;">
                    <a href="https://github.com/DevSKtable" target="_blank">Github</a>
                  </span>
                </p>
              </div>

              <div class="table-responsive">
                <p class="text-muted text-l" style="text-align:left;">
                  담당한 작업
                  <span style="float:right;">
                    DB 구축, 백엔드
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- 각 팀원 소개 페이지 -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><span style="float-left;"><img src="../static/images/roki.jpg" width=40vh; border-radius: 70%;  overflow: hidden;></span> <strong>&nbsp&nbsp Roki </strong> </h3>
              <div class="card-tools">
              </div>
            </div>

            <div class="card-body p-4">
              <div class="table-responsive">
                <p class="text-muted text-l" style="text-align:left;">
                  Homepage
                  <span style="float:right;">
                    <a href="https://github.com/my-roki" target="_blank">Github</a>
                  </span>
                </p>
              </div>

              <div class="table-responsive">
                <p class="text-muted text-l" style="text-align:left;">
                  담당한 작업
                  <span style="float:right;">
                    데이터 수집, CNN 모델링
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- 각 팀원 소개 페이지 -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><span style="float-left;"><img src="../static/images/yang.jpg" width=40vh; border-radius: 70%;  overflow: hidden;></span><strong>&nbsp&nbsp Yanghyeon </strong> </h3>
              <div class="card-tools">
              </div>
            </div>

            <div class="card-body p-4">
              <div class="table-responsive">
                <p class="text-muted text-l" style="text-align:left;">
                  Homepage
                  <span style="float:right;">
                    <a href="https://github.com/yanghyeon408" target="_blank">Github</a>
                  </span>
                </p>
              </div>

              <div class="table-responsive">
                <p class="text-muted text-l" style="text-align:left;">
                  담당한 작업
                  <span style="float:right;">
                    데이터 수집, CNN 모델링
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- 각 팀원 소개 페이지 -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><span style="float-left;"><img src="../static/images/hui.png" width=40vh; border-radius: 70%;  overflow: hidden;></span> <strong>&nbsp&nbsp Hui </strong> </h3>
              <div class="card-tools">
              </div>
            </div>

            <div class="card-body p-4">
              <div class="table-responsive">
                <p class="text-muted text-l" style="text-align:left;">
                  Homepage
                  <span style="float:right;">
                    <a href="https://github.com/dev-hui" target="_blank">Github</a>
                  </span>
                </p>
              </div>

              <div class="table-responsive">
                <p class="text-muted text-l" style="text-align:left;">
                  담당한 작업
                  <span style="float:right;">
                    프론트엔드
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </section>
    </div>

{% endblock %}
