{% extends 'base.html' %}
{% block head %}
{{ super() }}
<style>
  body {
    margin: 2em;
  }

  textarea {
    width: 100%;
  }

  .content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
  }

  .is-center {
    text-align: center;
  }

  .button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
  }

  .button-xlarge {
    font-size: 125%;
  }

  button {
    float: right;
    padding-bottom: 10vh;
  }

  #name,
  #email {
    width: 50%;
  }

  .honeypot-field {
    display: none;
  }
</style>


<!-- START HERE -->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0 text-dark"> Contact </h4>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-10">

          <form class="gform pure-form pure-form-stacked" method="POST" data-email="not-important" action="https://script.google.com/macros/s/AKfycbwdhQYef3jP5VuhlD6D2YOU5Hudsd39EhYbOW9w_A/exec">

            <div class="form-elements">
              <fieldset class="pure-group">
                <label for="name">Name: </label>
                <input id="name" name="name" placeholder="성함을 입력해 주세요" />
              </fieldset>

              <fieldset class="pure-group">
                <label for="message">Message: </label>
                <textarea id="message" name="message" rows="10" placeholder="메시지를 입력해 주세요"></textarea>
              </fieldset>

              <fieldset class="pure-group">
                <label for="email"><em>Your </em>  Email Address:</label>
                <input id="email" name="email" type="email" value="" required placeholder="회신 받으실 이메일 주소를 입력해 주세요" />
              </fieldset>

              <br>

              <button class="button-success pure-button button-xlarge">
                <i class="fa fa-paper-plane"></i>&nbsp;Send
              </button>

              <br><br><br>
            </div>

            <div class="thankyou_message" style="display:none;">
              <h2> 감사합니다!! </h2><br>
              <a href="/home"> GO back to Home </a>
            </div>


          </form>
          <script data-cfasync="false" src="../static/js/form-submission-handler.js"></script>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
