{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container">
      <div class="row mb-1">
        <div class="col-sm-6">
          <h4 class="m-0 text-dark"> </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title text-xl"> Welcome to KBCC System </h3>
                </div>
                <form id="quickForm">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">ID/Email</label>
                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter ID/Email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                  </div>

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><a href="/home">Submit</a></button>
                  </div>
                </form>

              </div>

            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</div>

{% endblock %}
