<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KBCC</title>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>
  <div id="wrapper">

    <aside id="sidebar">
      <!-- 사이드바 유저 표시 -->
      </br>
      <a href="/#" class="sidebar-jump"> Login ID</a></br></br>

      <!-- 사이드바 메뉴 -->
      <a href="/#" class="sidebar-jump">menu1</a></br>
      <a href="/#" class="sidebar-jump">menu2</a></br>
      <a href="/#" class="sidebar-jump">menu3</a></br>
      <a href="/#" class="sidebar-jump">menu4</a></br>
    </aside>


    <!-- 오른쪽 메뉴(navbar+main) -->
    <div id="right">

      <!-- navbar -->
      <div id="navbar">
        <nav>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./templates/about.html">About</a></li>
          <li><a href="./templates/service.html">Service</a></li>
          <li><a href="./templates/member.html">Member</a></li>
        </nav>
      </div>

      <!-- main -->
      <div id="main">
        <div id="box">
          <div class="box0">
            <h1>Dashboard</h1>
          </div>
          <div class="box1">
            <h1>box 1</h1>
          </div>
          <div class="box2">
            <h1> 시간대별 고객 방문 추이 </h1>
            <div class="img-click"><a href="./templates/time.html"><img src="./image/chart.png"></a></div>
          </div>
          <div class="box3">
            <h1> 매출 분석 </h1>
            <script language="javascript">
              function gosales() {
                window.location.href = "./templates/sales.html";
              }
            </script>
            <input type='button' onclick='gosales()' value='sales로 이동' />
          </div>
          <div class="box4">
            <h1>box 4</h1>
          </div>
        </div>
      </div>

      <!-- footer -->
      <div id="footer">
        <div class="footer-f"> <h3>Copyright ©2020 KBCC. All rights reserved.</h3></div>
      </div>

    </div>

  </div>
  </div>

  <script language="JavaScript" type="text/javascript">
    $(document).ready(function () {
      $('selector').css('width', $(window).width());
      $('selector').css('height', $(window).height());
      $(window).resize(function () {
        $('selector').css('width', $(window).width());
        $('selector').css('height', $(window).height());
      });
    });
  </script>
</body>

</html>